@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital@1&display=swap');

:root{
    --purple:#A78BFA;
    --light-purple:#C4B5FD;
    --dark-purple:#8B5CF6;
}

*{
    padding:0;
    margin:0;
    text-align: center;
    font-family: 'Noto Serif', serif;
}
body,html{
    overflow: hidden;
    
}

.main{
    max-height: 90vh;
    max-width: 70%;
    margin:1rem auto;

}
li{
    list-style: none;
    display: inline;
    padding:0.3rem 0.2rem;
}
a{
    text-decoration: none;
    font-size: 1.6rem;

}
.banner{
    background-color:var(--light-purple);
    width: 100%;
    margin: auto;
}
.heading{
    font-size:2rem;
    padding:1.8rem;
    
}
label{
    font-size: 1.2rem;

}

.inputbox{
    display:block;
    margin:0.4rem auto;
    padding:0.2rem;
    border:2px solid var(--purple);
    border-radius:0.2rem;
    font-size: 1.2rem;

}
.buttn{
    border:2px solid var(--purple);
    border-radius: 0.2rem;
    padding:0.2rem;
    margin:0.3rem auto;
    font-size: 1.2rem;
    background-color: var(--light-purple);
    cursor:pointer;

}
button:hover{
    background-color: var(--dark-purple);
}
.result{
    font-size: 1.2rem;
    max-width: 70%;
    margin: auto;

}
footer{
    position: absolute;
    bottom: 0;  
}
p{
    padding:0.2rem;
    font-size: 1.6rem;

}
ul{
    padding: 0.2rem;
}
.fa{
    color:black;
}